<link rel=stylesheet href="static/css/navigation.css">
<script src="static/js/carousel.js"></script>
<div class="navigation">
    <div class="left">
        <div class="ul_top">全部在线课程分类</div>
        <ul>
            <li><a href="#">信电学院</a> <span>&nbsp;</span>
                <div class="li_hidden">
                    <dl class="menu_recommend">
                        <dt>热门类目</dt>
                        <dd>
                            <i><a target="_blank" href="">JAVA</a></i> <i><a target="_blank"
                            href="">C,C#,C++</a></i> <i><a target="_blank" href="">Python</a></i>
                        </dd>
                        <dd>
                            <div class="clear"></div>
                        </dd>
                    </dl>
                    <dl class="menu_new">
                        <dt>精品推荐</dt>
                        <dd>
                            <a href="">[WEB前端] CSS3+JavaScript+HTML5</a><br> <a href="">[后台开发]
                            PHP,JSP,ASP 总有一个适合你</a><br> <a href="">[移动端] 原生ANdroid讲解, IOS在线剖析</a>
                        </dd>
                    </dl>
                </div>
            </li>
            <li><a href="#">管理学院</a> <span>&nbsp;</span>
                <div class="li_hidden">
                    <dl class="menu_recommend">
                        <dt>热门类目</dt>
                        <dd>
                            <i><a target="_blank" href="">JAVA</a></i> <i><a target="_blank"
                            href="">C,C#,C++</a></i> <i><a target="_blank" href="">Python</a></i>
                        </dd>
                        <dd>
                            <div class="clear"></div>
                        </dd>
                    </dl>
                    <dl class="menu_new">
                        <dt>精品推荐</dt>
                        <dd>
                            <a href="">[WEB前端] CSS3+JavaScript+HTML5</a><br> <a href="">[后台开发]
                            PHP,JSP,ASP 总有一个适合你</a><br> <a href="">[移动端] 原生ANdroid讲解, IOS在线剖析</a>
                        </dd>
                    </dl>
                </div></li>
                <li><a href="#">护理学院</a><span>&nbsp;</span>
                    <div class="li_hidden">
                        <dl class="menu_recommend">
                            <dt>热门类目</dt>
                            <dd>
                                <i><a target="_blank" href="">护理学院</a></i> <i><a target="_blank"
                                href="">C,C#,C++</a></i> <i><a target="_blank" href="">Python</a></i>
                            </dd>
                            <dd>
                                <div class="clear"></div>
                            </dd>
                        </dl>
                        <dl class="menu_new">
                            <dt>精品推荐</dt>
                            <dd>
                                <a href="">[WEB前端] CSS3+JavaScript+HTML5</a><br> <a href="">[后台开发]
                                PHP,JSP,ASP 总有一个适合你</a><br> <a href="">[移动端] 原生ANdroid讲解, IOS在线剖析</a>
                            </dd>
                        </dl>
                    </div></li>
                    <li><a href="#">传媒学院</a><span>&nbsp;</span>
                        <div class="li_hidden">
                            <dl class="menu_recommend">
                                <dt>热门类目</dt>
                                <dd>
                                    <i><a target="_blank" href="">传媒学院</a></i> <i><a target="_blank"
                                    href="">C,C#,C++</a></i> <i><a target="_blank" href="">Python</a></i>
                                </dd>
                                <dd>
                                    <div class="clear"></div>
                                </dd>
                            </dl>
                            <dl class="menu_new">
                                <dt>精品推荐</dt>
                                <dd>
                                    <a href="">[WEB前端] CSS3+JavaScript+HTML5</a><br> <a href="">[后台开发]
                                    PHP,JSP,ASP 总有一个适合你</a><br> <a href="">[移动端] 原生ANdroid讲解, IOS在线剖析</a>
                                </dd>
                            </dl>
                        </div></li>
                        <li><a href="#">机械学院</a><span>&nbsp;</span>
                            <div class="li_hidden">
                                <dl class="menu_recommend">
                                    <dt>热门类目</dt>
                                    <dd>
                                        <i><a target="_blank" href="">机械学院</a></i> <i><a target="_blank"
                                        href="">C,C#,C++</a></i> <i><a target="_blank" href="">Python</a></i>
                                    </dd>
                                    <dd>
                                        <div class="clear"></div>
                                    </dd>
                                </dl>
                                <dl class="menu_new">
                                    <dt>精品推荐</dt>
                                    <dd>
                                        <a href="">[WEB前端] CSS3+JavaScript+HTML5</a><br> <a href="">[后台开发]
                                        PHP,JSP,ASP 总有一个适合你</a><br> <a href="">[移动端] 原生ANdroid讲解, IOS在线剖析</a>
                                    </dd>
                                </dl>
                            </div></li>
                            <li><a href="#">土木学院</a><span>&nbsp;</span>
                                <div class="li_hidden">
                                    <dl class="menu_recommend">
                                        <dt>热门类目</dt>
                                        <dd>
                                            <i><a target="_blank" href="">土木学院</a></i> <i><a target="_blank"
                                            href="">C,C#,C++</a></i> <i><a target="_blank" href="">Python</a></i>
                                        </dd>
                                        <dd>
                                            <div class="clear"></div>
                                        </dd>
                                    </dl>
                                    <dl class="menu_new">
                                        <dt>精品推荐</dt>
                                        <dd>
                                            <a href="">[WEB前端] CSS3+JavaScript+HTML5</a><br> <a href="">[后台开发]
                                            PHP,JSP,ASP 总有一个适合你</a><br> <a href="">[移动端] 原生ANdroid讲解, IOS在线剖析</a>
                                        </dd>
                                    </dl>
                                </div></li>
                            </ul>
    </div>
    <div class="navigation_right" >
        <div class="showption" id="showption">
            <div id="complete" style="left: -50em">
                <img alt="ͼ3" src="__IMG__/Carousel/13.jpg">
                <img alt="ͼ1" src="__IMG__/Carousel/11.jpg">
                <img alt="ͼ2" src="__IMG__/Carousel/12.jpg">
                <img alt="ͼ3" src="__IMG__/Carousel/15.jpg">
                <img alt="ͼ4" src="__IMG__/Carousel/14.jpg">
                <img alt="ͼ5" src="__IMG__/Carousel/13.jpg">
                <img alt="ͼ1" src="__IMG__/Carousel/11.jpg">
            </div>
            <div id="buts">
                <span order="1" class="on"></span>
                <span order="2"></span>
                <span order="3"></span>
                <span order="4"></span>
                <span order="5"></span>
            </div>
            <a class="but"  id="but_left" href="javascript:">&lt;</a>
            <a class="but" id="but_right" href="javascript:">&gt;</a>
        </div>
    </div>
</div>