<link rel="stylesheet" href="static/css/header.css">
<div class="header_top">
    <div class="mu" id="header_logo">logo</div>
    <div class="mu" id="header_menu">
        <ul class="header_ul">
            <li>热门教程</li>
            <li>名师推荐</li>
            <li>联系我们：147493465</li>
            <li>
                <form>
                  <input class="header_input" type="text" placeholder="输入查询内容">
                  <button class="header_but" type="submit">搜索</button>
                </form>
          </li>
          <li><a href="#" title="登录">登录</a>&nbsp;|&nbsp;<a href="#" title="登录">注册</a></li>
        </ul>
  </div>
  <div class="mu"></div>
</div>